.background{
    background-color: rgb(228, 240, 250);
    border: none;
}

.background1{
    background-color: rgb(241, 228, 250);
    border: none;
}

.background2{
    background-color: rgb(228, 250, 233);
    border: none;
}

.background3{
    background-color: rgb(250, 239, 228);
    border: none;
}

.background4{
    background-color: rgb(250, 230, 228);
    border: none;
}

.background5{
    background-color: rgb(237, 228, 250);
    border: none;
}